.screen {
  display: flex;
  flex-direction: column;
}

.login {
  padding-top: 78vh
}

.mat-raised-button {
  font-size: 20px;
  height: 46px;
  margin: 7px 20px;
  line-height: inherit;
  border-radius: 25px
}

.facebook {
  background-color: #4D5DC2;
  fill: #f9f9f9;
  color: #f9f9f9
}

.google {
  background-color: #C84938;
  fill: #f9f9f9;
  color: #f9f9f9
}
