.mat-tab-link {
  min-width: 20%;
  max-width: 20%
}

a[href^="/home"]  {
  font-size: 110%;
  min-width: 60%;
  max-width: 60%
}

.mat-tab-label-active {
  color: var(--cor-pri);
  fill: var(--cor-pri);
  opacity: 1.0
}

.mat-tab-nav-bar {
  border-bottom: none;
  box-shadow: 0px 2px 10px 0px #bdbdbd;
  background: #fff; 
}
