<!-- TODO arrumar layout cagado do Material Angular -->
<!-- O código abaixo está incompleto e serve apenas para dar uma ideia -->
<div class="home">

  <img src="images/map2.png" alt="MapUFMT" usemap="#ufmtmap">

  <svg class="svgbox" viewBox="0 0 412 732">
    <circle *ngFor="let b of listStops"
            [attr.cx]="b.getCoordX()" [attr.cy]="b.getCoordY()"
            [attr.r]="dotAnimatedInitialRadius"
            [attr.fill]="dotAnimatedColor"
            [attr.opacity]="dotAnimatedInitialOpacity">
      <animate
        attributeName="r"
        [attr.begin]="dotAnimatedInitialTime"
        [attr.dur]="dotAnimatedFinalTime"
        repeatCount="indefinite"
        [attr.from]="dotAnimatedInitialRadius"
        [attr.to]="dotAnimatedFinalRadius"></animate>
      <animate
        attributeName="opacity"
        [attr.begin]="dotAnimatedInitialTime"
        [attr.dur]="dotAnimatedFinalTime"
        repeatCount="indefinite"
        [attr.from]="dotAnimatedInitialOpacity"
        [attr.to]="dotAnimatedFinalOpacity"></animate>
    </circle>
    <circle *ngFor="let b of listStops"
            [attr.cx]="b.getCoordX()" [attr.cy]="b.getCoordY()"
            [attr.r]="dotRadius"
            [attr.fill]="dotColor"
            [attr.opacity]="dotOpacity"
            (mousedown)="onButtonClick(b)">
    </circle>
  </svg>

</div>
