<!-- TODO arrumar layout cagado do Material Angular -->
<!-- O código abaixo está incompleto e serve apenas para dar uma ideia -->
<div style="text-align: center;">
  <h1>Bem-vindo!</h1>
  <p>Para começar, clique em um dos pontos do mapa abaixo.</p>
  <hr>
  <map name = “shape”>
<area shape = “rect” alt=”parte 1” coords = “0, 0, 100, 100” href=""/>
<area shape = “circle” alt=”parte 2” coords = “100, 100, 25” href=””/>
<area shape = “poly” alt=”parte 3” coords = “116, 207, 186, 299, 49, 296” href=””/>
</map>
<img src="images/map2.png" usemap="#shape"/>
</div>
